---  
Language: Cpp  
BasedOnStyle: None  
AccessModifierOffset: -2  
AlignAfterOpenBracket: Align  
AlignConsecutiveAssignments: false  
AlignConsecutiveDeclarations: false  
AlignOperands: Align  
AlignTrailingComments: true  
AllowAllParametersOfDeclarationOnNextLine: false  
AllowShortBlocksOnASingleLine: false  
AllowShortCaseLabelsOnASingleLine: false  
AllowShortFunctionsOnASingleLine: Empty  
AllowShortIfStatementsOnASingleLine: AllIfsAndElse  
AllowShortLoopsOnASingleLine: false  
AlwaysBreakAfterDefinitionReturnType: None  
AlwaysBreakAfterReturnType: None  
AlwaysBreakBeforeMultilineStrings: false  
AlwaysBreakTemplateDeclarations: false  
BreakBeforeBraces: Linux  
BreakBeforeBinaryOperators: NonAssignment  
BreakBeforeTernaryOperators: true  
BreakConstructorInitializers: BeforeColon  
BreakInheritanceList: BeforeColon  
ColumnLimit: 80  
CompactNamespaces: false  
ConstructorInitializerAllOnOneLineOrOnePerLine: false  
ConstructorInitializerIndentWidth: 2  
ContinuationIndentWidth: 2  
Cpp11BracedListStyle: false  
DerivePointerAlignment: false  
DisableFormat: false  
FixNamespaceComments: true  
IncludeBlocks: Preserve  
IndentCaseLabels: false  
IndentPPDirectives: BeforeHash  
IndentWidth: 2  
IndentWrappedFunctionNames: false  
KeepEmptyLinesAtTheStartOfBlocks: false  
MaxEmptyLinesToKeep: 1  
NamespaceIndentation: None  
PointerAlignment: Left  
ReflowComments: true  
SortIncludes: false  
SpaceAfterCStyleCast: false  
SpaceAfterLogicalNot: false  
SpaceAfterTemplateKeyword: false  
SpaceBeforeCpp11BracedList: false  
SpaceBeforeCtorInitializerColon: true  
SpaceBeforeInheritanceColon: true  
SpaceBeforeParens: ControlStatements  
SpaceBeforeRangeBasedForLoopColon: true  
SpaceInEmptyParentheses: false  
SpacesBeforeTrailingComments: 1  
SpacesInAngles: false  
SpacesInCStyleCastParentheses: false  
SpacesInContainerLiterals: false  
SpacesInParentheses: false  
SpacesInSquareBrackets: false  
Standard: c++11  
TabWidth: 2  
UseTab: Never