#include "res.h"
#include <windows.h>

IDD_INPUT DIALOG 0, 0, 200, 52
STYLE DS_MODALFRAME | DS_CENTER | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT    IDC_INPUT,  7,  7, 186, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK",     IDOK,    93, 31,  50, 14
    PUSHBUTTON    "Cancel", IDCANCEL,147, 31,  50, 14
END